<ion-view title="Sucursales del comercio">

	<ion-nav-buttons side="left">
		<ion-nav-back-button class="button back-button"><i class="icon ion-ios7-arrow-back"></i>Back</ion-nav-back-button>
	</ion-nav-buttons>

	<!--<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-undo-outline" style="color: #FFFFFF;" ng-click="exitBranchOffices();"></button>
	</ion-nav-buttons>-->
	<style>
	
	.tachado{text-decoration:line-through;}
	
	</style>

	<!-- ion-content style="background-color:#fffff" -->
	<ion-content ng-controller="branchoffices" style="background-color:#fffff">
		<ion-refresher on-refresh="doRefresh()" pulling-text="<h6 class='no-margin'></h6>"></ion-refresher>
		<ion-list>
			<label class="item item-input item-select rounded" ng-repeat="currSel in currSels" style="margin-bottom: 10px;">
            	<div class="input-label">
                	{{currSel.proc}}:
            	</div>
        	</label>
		</ion-list>
	</ion-content>
</ion-view>