<ion-view title="Comercios vinculados">

	<ion-nav-buttons side="left">
		<ion-nav-back-button class="button back-button"><i class="icon ion-ios7-arrow-back"></i>Back</ion-nav-back-button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-gear-outline" style="color: #FFFFFF;" ng-click="addTypeBranchOffice();"></button>
	</ion-nav-buttons>


	<style>
		.itemMy {
			margin-bottom: 0px;
			width: 100%;
		}
		
		.itemIcon {
			font-size: 25px;
			width: 20%;
		}
		
		.itemIconColor {
			color: #55ACEE;
		}
		
		.itemText {
			font-size: 16px;
			width: 70%;
			margin-top: 4%;
		}
		
		.myTab {
			padding-left: 5%;
			border-bottom-width: 0.5px;
			border-bottom-style: solid;
			border-bottom-color: black;
		}
		
		.lineDivisor {
			border-right-width: 0.5px;
			border-right-style: solid;
			border-right-color: black;
		}
		
		.itemPages {
			display: table-cell;
			vertical-align: middle;
		}
		
		.item {
			border-color: #ddd;
			background-color: #fff;
			color: #444;
			position: relative;
			z-index: 2;
			display: block;
			margin: -1px;
			font-size: 16px;
			padding-left: 5%;
			padding-right: 5%;
			padding-bottom: 0%;
			padding-top: 0%;
		}
		
		.card {
		    padding-top: 1px;
		    padding-bottom: 1px;
		    box-shadow: -13px 2px 27px rgba(0, 0, 0, 0.35);
		}
	</style>

	<!-- ion-content style="background-color:#fffff" -->
	<ion-content style="background-color:#fffff">
		<ion-item class="list card" ng-repeat="currSel in currSelsNew">
			<div style="margin-bottom: 0%; margin-left: 8%; display: block;" class="list card">
				<div>
					<div>
						<p style="padding-top: 0px; font-weight: bold; color: black; font-size: 90%; padding-left: 10px;" class="">
							<ins>{{currSel.sucursalNombre}}</ins>
						</p>
						<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
							<img class="catagory_img" ng-src="{{product.link}}" />
						</div>
						<p style="padding-top: 10px; font-weight: normal; color: black; font-size: 90%; padding-left: 10px;" class="">
							Cantidad de productos disponibles: {{currSel.quantityProductsFound}}
						</p>
						<p style="padding-top: 5px; padding-bottom:0px; font-weight: normal; color: black; font-size: 90%; padding-left: 10px;" class="">
							Importe total de la compra: $ {{currSel.totalValueProductsFound}} 
						</p>
					</div>
				</div>
				<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
					<img class="catagory_img" ng-src="{{product.link}}" />
				</div>
				<div class="row">
					<div class="col-50">
						<p style="padding-top: 0px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
							{{currSel.banderaDescripcion}}
						</p>
						<p style="padding-top: 0px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
							{{currSel.direccion}}
						</p>
						<p style="padding-top: 0px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
							{{currSel.localidad}}
						</p>
					</div>
					<div class="col" style="padding-left: 32%;">
						<button ng-class="{'button-hidden':!disableTagButton}" style="margin-left: 5%; color: #58ACFA" class="button  button-icon1 button-icon icon ion-ios-heart-outline" ng-visible="false" ng-click="addlist({{product}})"></button>
					</div>
				</div>
			</div>
			<div style="padding-top: -30%;" class="row">
				<div style="width: 100%">
					<img style="padding-top: 0%; width: 19%; margin-left: 9%;" ng-src="img/{{currSel.comercioId}}-{{currSel.banderaId}}.png" onerror="this.onerror=null;this.src='img/imagenotfound.gif';" />
				</div>
				<div style="width: 40%">
					<button ng-class="{'button-hidden':!disableTagButton}" style="margin-left: 5%; color: #58ACFA" class="button  button-icon1 button-icon icon ion-ios-glasses-outline" ng-visible="false" ng-click="addlist({{product}})"></button>
					<button ng-class="{'button-hidden':!disableTagButton}" style="margin-left: 5%; color: #58ACFA" class="button  button-icon1 button-icon icon ion-ios-trash-outline" ng-visible="false" ng-click="addlist({{product}})"></button>
				</div>
			</div>
		</ion-item>
	</ion-content>
</ion-view>