<ion-view title="Comercios vinculados">

	<ion-nav-buttons side="left">
		<ion-nav-back-button class="button back-button"><i class="icon ion-ios7-arrow-back"></i>Back</ion-nav-back-button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-gear-outline" style="color: #FFFFFF;" ng-click="addTypeBranchOffice();"></button>
	</ion-nav-buttons>
	<style>
	</style>

	<!-- ion-content style="background-color:#fffff" -->
	<ion-content ng-controller="branchoffice" style="background-color:#fffff">
		<ion-refresher on-refresh="doRefresh()" pulling-text="<h6 class='no-margin'></h6>"></ion-refresher>
		<ion-list>
			
			<ion-item class="item itemMy" ng-repeat="currSel in currSels"  item="item">
				<div class="row input-label" style="padding-right:10%">
					<div class="ng-binding itemText" ng-click="loadTypeBranchOffice(listBranchOffice)">
						{{currSel.proc}}
					</div>
					<!--<label class="ion-ios-cart-outline itemIcon"></label>-->
					<button ng-class="{'button-hidden':!disableTagButton}" style="color: #58ACFA" class="button button-icon icon ion-android-close" ng-visible="false" ng-click="clearFind()"></button>
				</div>
			</ion-item>
			
			
			
			
			<label class="item row" ng-repeat="currSel in currSels" style="margin-bottom: 10px; width:80%;">
            	<div class="" style="width:100%; padding-top: 10px;">
                	{{currSel.proc}}:
            	</div>
            	<div>
            	<button ng-class="{'button-hidden':!disableTagButton}" style="color: #58ACFA" class="button button-icon icon ion-android-close" ng-visible="false" ng-click="clearFind()"></button>
            	</div>
        	</label>
		</ion-list>
	</ion-content>
</ion-view>