<ion-view title="Configuración de Grupo">

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: #FFFFFF;"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button button-icon ion-android-checkmark-circle" style="color: #FFFFFF;" ng-click="addFriends();"></button>
	</ion-nav-buttons>

	<style>
	
	.item {
	    padding: 1% 0% 1% 2%;
	}
	
	.mySearch{
		padding-top: 2px;
    	padding-left: 4%;	
	}
	
	.detalleUsername{
		font-weight: bold;
	}
	
	.cajaTexto{
		width: 80%;	
	}
	
	</style>

	<!-- ion-content style="background-color:#fffff" -->
	<ion-content class="mySearch" ng-controller="group" style="background-color:#fffff">
		<ion-refresher on-refresh="doRefresh()" pulling-text="<h6 class='no-margin'></h6>"></ion-refresher>

		<input class="cajaTexto" id="search" type="search" placeholder="Search..." ng-model="$root.search">
		
		<ion-list>
	   		<ion-item ng-repeat="amigo in comunidad_amigos | filter:search"  item="item">
                <ion-toggle ng-change="chan(amigo)" ng-model="amigo.existe_en_grupo" ng-checked="{{amigo.existe_en_grupo}}" toggle-class="toggle-calm">
                	{{amigo.username}}
                	<p>
                		{{amigo.user}}
                	</p>
                </ion-toggle>
			</ion-item>
		</ion-list>
		
<!--		
		<ion-list>
	   		<ion-item ng-repeat="amigo in comunidad_amigos.group | filter:search" item="item">
                <ion-toggle class="item-text-wrap" ng-value="amigo.existe_en_grupo" ng-model="amigo.existe_en_grupo" toggle-class="toggle-calm">
                	{{amigo.username}}
                	<p>
                		{{amigo.user}}
                	</p>
                	</ion-toggle>
			</ion-item>
		</ion-list>

-->

	</ion-content>




</ion-view>