<ion-view title="Profile">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: #FFFFFF;"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <style>
    .scroll-content {
      background: url('') no-repeat center center fixed;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
    }
    
    .item .item-content.activated {
      background-color: #5E87B0;
      color: #FFF;
    }
    
    .form {
      float: left;
      height: 86%;
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
    }
    
     ::-webkit-input-placeholder {
      color: #363636 !important;
      font-weight: bold;
      font-size: 12px;
    }
    
     :-moz-placeholder {
      color: #363636 !important;
      font-weight: bold;
      font-size: 12px;
    }
    
     ::-moz-placeholder {
      color: #363636 !important;
      font-weight: bold;
      font-size: 12px;
    }
    
     :-ms-input-placeholder {
      color: #363636 !important;
      font-weight: bold;
      font-size: 12px;
    }
    
    .myLabel {
      font-size: 13px;
    }
    
    .myTrogle {
      padding-left: 1%;
    }
    
    .sizeIcon {
      font-size: 200%;
      padding-left: 21%;
    }
  </style>
  <ion-content ng-controller="userprofile">
    <!--
    <div style="padding-top: 5%; width:70%;margin:0 auto;" class="list">
      <img style="width: 60%;border-radius: 193%; margin: 0 auto;display: block;" src={{customdataloged.foto}}></img>
    </div>
-->
    <div style="padding-top: 10%; width:70%;margin:0 auto;" class="list">

      <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
      <span class="label myLabel">Name</span>
      <input type="text" placeholder={{userloged.fullName}} ng-model="user.fullName">
    </label>

      <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
      <span class="label myLabel">Email</span>
      <input type="text" placeholder={{userloged.email}} ng-model="user.email">
    </label>


    <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
      <span class="label myLabel">Profile</span>
      <input type="text" placeholder={{customdataloged.profile}} ng-model="user.status">
    </label>

    <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
      <ion-toggle class="item-text-wrap label myLabel myTrogle" ng-value="{{customdataloged.shared}}" ng-disabled="false" toggle-class="toggle-calm">Allowed to associate with a group</ion-toggle>
    </label>

    <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
      <div style="width:100%">
        <span class="label myLabel">Go to set group friends</span>
  			<button class="button-icon ion-ios-gear-outline sizeIcon" ng-click="agrupar();"></button>
			</div>
		</label>
<!--
    </label>
      <div style="text-align: center;margin-top: 20px;">
        <button nav-clear ng-click="cancelar();" style="width: 70%; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); color: rgb(70, 159, 226); border-radius: 42px; box-shadow: 0px 1px 0px rgb(104, 97, 97);" class="button button-positive">
        Volver
      </button>
      </div>
    </label>
-->
  </ion-content>
</ion-view>